.main__footer{
    background-color: black;
    color:white;
           
}
.main__footer__row1{
  grid-template-columns: auto auto;
}
.main__footer__row2{

  grid-template-columns: auto auto auto auto;
}
.main__footer__row3{
  grid-template-columns: auto auto auto auto auto;
}
.main__footer__row4{
  grid-template-columns: auto auto auto;
}
.main__footer__row5{
  grid-template-columns: auto auto;
}
.main__footer__row6{
  grid-template-columns: auto auto auto;
}
.main__footer__spacing{
    padding:100px;
    margin:20px
}

.col1{
  justify-content: center;
  display: flex;
}
.col2{
    justify-content: center;
    display: flex;
  }

  .text1{
        color:red;
        
      
  }
  .text2{
    width:500px;
    margin-top:150px;
    font-size:50px;
    font-weight: 600;
   
  
}

.countryrow{
 

}
.mqlogo{
  color:gray;
}
.form_Button_Class{
  padding:5px;
}

.footer_Col5_Left{
mix-blend-mode: luminosity;
opacity: 1;
}
.footer_Col5_RightSection{
  display: flex;
  align-items:center;
 
}
.row6_col2{
  padding-left:10px;
}
